[Unit]
Description=Start the script that will monitor /var/log/audit.log and log relevant things

[Service]
Type=simple
ExecStart=/usr/local/bin/auditd-notify
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
