[Unit]
Description=Run btrfs balance to regain disk space

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'echo \'NOTIFY {"urgency": "normal", "title": "SYSTEM MAINTENANCE", "body": "Btrfs balancing in progress..."}\'; btrfs balance start -dusage=50 -dlimit=2 -musage=50 -mlimit=4 /'
