[Unit]
Description=Check the secure boot status at boot

[Service]
Type=oneshot
ExecStart=/bin/bash -c '[ "$(hexdump /sys/firmware/efi/efivars/SecureBoot-* | awk \'{print $4}\')" = "0001" ] || echo \'NOTIFY {"urgency": "critical", "title": "SECURE BOOT DISABLED", "body": "Please take action"}\''

[Install]
WantedBy=multi-user.target
