[Unit]
Description=Send desktop notification if a system upgrade is available

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/bin/pacman -Qu; ret=$?; if [ "$ret" -eq 0 ]; then notify-all-users --urgency normal "SYSTEM UPGRADE IS AVAILABLE" "Please consider upgrading it."; elif [ "$ret" -eq 1 ]; then echo "No update available"; else echo "Something went wrong."; exit 1; fi'
