[Unit]
Description=Run pacman-notify.service every hour
Requires=graphical.target
After=graphical.target

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
