[Unit]
Description=Send desktop notification if a system upgrade is available
Type=oneshot

[Service]
ExecStart=/bin/bash -c '/usr/bin/pacman -Qu && notify-all-users --urgency normal "SYSTEM UPGRADE IS AVAILABLE" "Please consider upgrading it."'
