[Unit]
Description=Send desktop notification if configuration files that require reviewing are found
Type=oneshot

[Service]
ExecStart=/bin/bash -c 'notify-all-users --urgency critical --icon dialog-warning "FOUND PACNEW FILES" "<u>Please take action:</u>\n$(find /etc -type f -name "*.pacnew")"'
