[Unit]
Description=Send desktop notification if configuration files that require reviewing are found

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'files="$(find /etc -type f -name "*.pacnew")"; [[ -z "$files" ]] || notify-all-users --urgency critical --icon dialog-warning "FOUND PACNEW FILES" "Please take action:\n$files"'
