[Unit]
Description=Run the auditor script to check for system misconfigurations
After=network.target systemd-networkd-wait-online.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/proxify /usr/local/bin/auditor
