[Unit]
Description=Cache upgradable packages in the background but do not install them

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman -Syuw --noconfirm
Restart=on-failure
RestartSec=10s
